@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 25% 96%;
    --foreground: 27 39% 15%;
    --card: 34 25% 96%;
    --card-foreground: 27 39% 15%;
    --popover: 34 25% 96%;
    --popover-foreground: 27 39% 15%;
    --primary: 27 39% 39%;
    --primary-foreground: 34 25% 96%;
    --secondary: 34 15% 92%;
    --secondary-foreground: 27 39% 30%;
    --muted: 34 15% 92%;
    --muted-foreground: 27 20% 45%;
    --accent: 124 58% 32%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 34 15% 88%;
    --input: 34 15% 90%;
    --ring: 27 39% 39%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Poppins', sans-serif;
  }
  section {
    @apply py-12 sm:py-16 lg:py-20;
  }
}
